# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts should always use LF
*.sh text eol=lf
*.bash text eol=lf

# Config files should use LF
*.conf text eol=lf
*.config text eol=lf
*.rasi text eol=lf
*.dunstrc text eol=lf
